<p id="notice"><%= notice %></p>

<div class='container'>
  <div class='row'>
    <div class=' nll-btns ix columns offset-by-three'>
      <button><%= link_to 'New Post', new_post_path %></button>
      <button><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></button>
      <button><%= link_to 'Log In', user_session_path %></button>
    </div>
  </div>
</div>

  <% @posts.each do |post| %>

<div class='container'>
  <div class='row'>
    <div class='posts-title'>
      <h3 class= 'six columns offset-by-two'><span class='slashes'>// </span><%= link_to post.title, post%></h3>
    </div>
  </div>
</div>
<div class='container'>
  <div class='posts-content'>
    <p class= 'six columns offset-by-two'><%= post.content %></p>
  </div>
  <div class='crud-btns two columns'>
    <button><%= link_to 'Edit', edit_post_path(post)%></button>
    <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>

<% end %>
