<p id="notice"><%= notice %></p>

<div class='container'>
  <div class='row'>
    <div class='ten columns offset-by-one'>
      <div class='posts-title'>
        <h4><span class='slashes'>// </span><%= @post.title %></h4>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='ten columns offset-by-one'>
      <div class='posts-content'>
        <%= simple_format(@post.content) %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class= 'ten columns offset-by-one'>
      <div class= 'date'>
        <span class='slashes'>// </span><%= @post.created_at.strftime("%B_%e_%Y") %></p>
        <div class='index-edit-btns'>
          <% if user_signed_in? %>
          <button><%= link_to 'Edit', edit_post_path(@post) %></button>
          <button><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          <button><%= link_to 'Back', posts_path %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
